.container {
  // margin: 0 auto;
  margin-top: 50px;

}

.card {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  width: 350px;
  height: 380px;
  margin: 15px 10px 15px 10px;
}

.card img {
  background-position: center;
  object-fit: cover;
  width: 350px;
  height: 150px;
}

.flat-capa {
  display: flex;
  margin-right: 25px;
}

#capa {
  margin-left: 5px;
}

.price {
  display: flex;
}

#price_per_night {
  margin-right: 5px;
}

.flat-detail {
  display: flex;
  padding: 0 5px 20px 20px;
}

.flat-detail p {
  margin: 0;
}

.card-action {
  display: flex;
  padding: 20px 0 0 20px;
}

#more-info {
  margin-right: 20px;
}

#edit a {
  margin-right: 20px;
  // text-decoration: none;
  color: orange;
}

#remove a {
  color: red;
}

.card h3 {
  font-size: 24px;
  padding: 20px 20px 2px 20px;
}

.card h4{
  font-size: 16px;
  opacity: .8;
  padding: 0 20px;
  margin-bottom: 15px;

}

.flat-info {
  background-color: #F8F9FA;
}
