.navbar-lewagon {
  justify-content: space-between;
  background: #F8F9FA;
  margin-bottom: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  font-size: 25px;
  font-family: 'Questrial', sans-serif;
}
